<h1> <%= @entry.title%></h1>
<h1> <%= @entry.date%></h1>
<h1> <%= @entry.category%></h1>
<h1> <%= @entry.description%></h1>


<%= link_to "Edit Your Entry", edit_journal_entry_path(@journal.id, @entry.id) %>