<h1> <%= @entry.title%></h1>
<h1> <%= @entry.date%></h1>
<h1> <%= @entry.entry_type.category%></h1>
<h3> <%= @entry.description%></h3>

<div class= "bctr">
  <%= link_to "edit your entry", edit_journal_entry_path(@journal.id, @entry.id), class: "b4" %>
  <%= link_to 'back', journal_entries_path(@journal.id), class: "b4" %>
</div>


