<h1>my journals &#128466;</h1>
<p>
<ul>
  <% @journal.each do |journal| %> 
    <li><%= journal.created_at.to_date %><%= link_to journal.title, journal_path(journal), class: "b6" %> </li>
    
    <a class="b5"><%= journal.description %></a>
  <% end %>
</ul>
</p>

<div class= "bctr">
  <%= link_to "create a journal", new_journal_path(@journal), class: "b4" %>
  

  <%= form_with(url: search_path, method: 'get', class: "b11") do |f|%>
    <%= f.text_field :title, placeholder: "search for journal title", class: "b10"%>
    <%= f.submit :search, class: "b10" %>
  <% end %>


 
  <%= link_to 'back', root_path, class: "b4" %>
</div>

