<h1><%=@journal.title%></h1><br>
<h2><%= @journal.description%></h2>

<!-- I should add a description for the journals ---------------------------------------------------------------->

<%= link_to "edit journal", edit_journal_path(@journal), class: "b4" %>
<%= link_to "delete journal", journal_path(@journal), method: "delete", class: "b3" %>
<%= link_to "create an entry", new_journal_entry_path(@journal), class: "b4" %>
<%= link_to 'back', journals_path, class: "b4" %>