<nav>
  <%= link_to("home", root_path, class: "b4")%>
  <% if logged_in? %>
    <%= link_to("journals", journals_path, class: "b4") %>
    <%= link_to("logout", logout_path, class: "b4") %>
    <a class="b5"><b> welcome, <%= current_user.name %>!&#128172;</b></a>
  <% else %>
    <%= link_to("sign in", login_path, class: "b4") %>
    <%= link_to("sign up", new_user_path, class: "b4") %>
    <%= link_to "sign in with Google", '/auth/google_oauth2', method: :post, class: "b4" %> <!--NOT SHOWING-->
  <% end %>

  <%= form_with(url: search_path, method: 'get') do |f|%>
    <%= f.text_field :title, placeholder: "Search for Journal Title" %>
    <%= f.submit :Search %>
  <% end %>
</nav>