<nav class="navbar navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<div class="sidebar">
<br>
<p style="margin-left: 18px">Welcome, <%= current_user.name %>!</p> 
<%= link_to("Home", root_path) %>
<% if logged_in? %>
<%= link_to("Journals", journals_path) %>
<%= link_to("Logout", logout_path) %>
<% else %>
<%= link_to("Login", login_path) %>
<%= link_to("Signup", new_user_path) %>
<% end %>
</div>
 </ul>
    </div>
</nav>