<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    </nav>
    <ul> 
      <li><%= link_to("Home", home_path) %></li>
      <li><%= link_to("Journals", journals_path) %></li>
    </ul>
  </body>
</html>
